.idea
*.iml
logs/32k/D_0.pth
logs/32k/G_0.pth

/hubert/hubert-soft-0d54a1f4.pt

/configs
/dataset
/dataset_raw
/filelists
/logs
/raw

__pycache__/
*.pyc
*.wav
.env
checkpoints/
voice_source/
filelists/
